
<html>
<head>
	<title>Home</title>
</head>
<body style='background-color:powderblue;'>
	
<table border="0" align="center">
<form method="post">

	<a href="/shopkeeper/availproduct">Back</a>
	
		
			<input align="right" type="submit" name="submit" value="Are you sure to delete?" />
			
		</form>
	</table>

</body>
</html>