<html>
	<head>
		<title>eshopping</title>
		<%-include("home"); %>
		<%-include("header"); %>
		<%-include("dropdown"); %>
		
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<%-include("footer"); %>

		
	</head>
	<body>
		
	</body>
		
</html>
	
	
	
