<html>
	<head>
		<title>change password</title>
		<%-include("../header"); %>
		<%-include("../dropdown"); %>
		
		<link rel="stylesheet" href="/assets/dialoguebox/jquery.dialogbox.css">
		<script src="/assets/dialoguebox/jquery.dialogBox.js"></script>
	
		<style>
			tr
			{
				width:800;
			}
			th
			{
				text-align:right;
				width:200px;
			}
			td
			{
				padding: 15px;
				width:250px;
			}
		</style>
		
		
	</head>
	<body>
		<br/><br/><br/>
		<center>
			<table border='0' style=" margin-top:1%;">	
				<tr>
					<th><font color='red'>*</font>Old Password:</th>
					<td >
						<input id="passwordtextinput"  type="password" name ="oldpassword"  style="width:230px;" autofocus  />
					</td>
					<td id="passwordnotice"><font color='red'><%= user.oldvalid%></font></td>
				</tr>
				<tr>
					<th ><font color='red'>*</font>New Password:</th>
					<td >
						<input id="cpasswordtextinput"  type="password" name ="newpassword"  style="width:230px;"  />
					</td>
					<td id="cpasswordnotice"> <font color='red'><%= user.newvalid%></font></td>
				</tr>
				<tr>
					<td/>
					<td colspan="2" style="text-align:left">
						<input id="savepasswor" type="button" name ="save" value = "save"/>
						<a href='/customer'>discart</a>
					</td>
				</tr>
			</table>
			<div id='dialogue'></div>
		</center>
	<script>
		$(document).ready(function(){
		
			var P_length=3;
			$("#savepasswor").attr("disabled",true);
			var passwordvalid=false,cpasswordvalid=false;
			
			function check_submit()
			{
				
				if(passwordvalid && cpasswordvalid)
				{
					$("#savepasswor").attr("disabled",false);
				}
				else
				{
					$("#savepasswor").attr("disabled",true);
				}
			}
			
			$("#passwordtextinput").keyup(function(){
				
				passwordvalid=false;
				check_submit();
				
				var pass=$('#passwordtextinput').val();
				if(pass.length==0) 
				{
					$('#passwordnotice').html("<font color='red'>password can't be empty</font>");
					return;
				}
				if(pass.length<P_length)
				{
					$('#passwordnotice').html("<font color='red'>password at least 3 character</font>");
					return;
				}
				$('#passwordnotice').html("");
				passwordvalid=true;
				check_submit();

			});
			
			$('#cpasswordtextinput').keyup(function(){
				
				cpasswordvalid=false;
				check_submit();
				var pass=$('#cpasswordtextinput').val();
				if(pass.length==0) 
				{
					$('#cpasswordnotice').html("<font color='red'>password can't be empty</font>");
					return;
				}
				if(pass.length<P_length)
				{
					$('#cpasswordnotice').html("<font color='red'>password at least 3 character</font>");
					return;
				}
				$('#cpasswordnotice').html("");
				cpasswordvalid=true;
				check_submit();
			});
			
			
			$('#savepasswor').click(function(){
				console.log("click");
				$.ajax({
					url:"/changepassword",
					method: "post",
					data:{
						oldpassword: $('#passwordtextinput').val().trim(),
						newpassword: $('#cpasswordtextinput').val().trim()
					},
					success: function(res){
						console.log("success");
						if(res=='invalidNew') $('#cpasswordnotice').html("<font color='red'>invalid password</font>");
						else if(res=='invalidOld') $('#passwordnotice').html("<font color='red'>incorrect password</font>");
						else if(res=='done')
						{
							$('#dialogue').dialogBox({
								type: "correct",
								//effect: 'fall',
								hasMask: true,
								autoHide: true,
								time: 1200,
								content: "password changed",
								close: function(){
									console.log("closse");
								}
							});
							window.setTimeout(function(){
								window.location.href="/customer";
							},2200);
						}
						
					}
				
				
				});
			
			
			});
			
		});
		
	</script>
	</body>
</html>