<html>
	<head>
		<%-include("../header"); %>
		<%-include("../dropdown"); %>
		
		<style>
			tr
			{
				width:1200px;
			}
			div.infoShowcart>img
			{
				width:20%;
				height:40%;
			}
			.button_action
			{
				background-color:gray;
			}
		</style>
		<link rel="stylesheet" href="/assets/spinner/dpNumberPicker-2.x.css">
		<link rel="stylesheet" href="/assets/spinner/dpNumberPicker-2.x-skin.grey.css">
		<script src="/assets/spinner/dpNumberPicker-2.x.js"></script>
		
		
		
		<link rel="stylesheet" href="/assets/dialoguebox/jquery.dialogbox.css">
		<script src="/assets/dialoguebox/jquery.dialogBox.js"></script>
	
		
		<script src='/assets/showordered.js'></script>
	</head>
	<body>
		<br/><br/><br/>
		<h1 align="center" style="border:1px solid black;">Ordered Item</h1>
		<center>
		
		<div id="ordered">
			
		</div>
		<div id='dialogue'></div>
		</center>
		
	</body>
</html>